.footer_button{
    justify-content: center;
    justify-items: center;
    text-align: center !important;
 }
 #save,#cancel{
     margin-left: 20px;
 }
 #forms_center{
   position: absolute;
   left: 20%;
   right: 20%;
   box-sizing: border-box;
 }
 .example-full-width{
   width: 100%;
 }

.star::after{
  content: " *";
  color: red;
}