<h1 mat-dialog-title>Approve Skillset</h1>
<mat-divider></mat-divider>
<!-- <div mat-dialog-content> -->
    <form [formGroup]="skillset">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Qualification</mat-label>
                    <input style="color: seagreen;" matInput  formControlName="qualification_Name" >
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Skillset</mat-label>
                    <input style="color: seagreen;"  matInput  formControlName="skillset_name" >
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Remarks</mat-label>
                    <textarea style="color: seagreen;" maxlength="200"  matInput  formControlName="Remarks" ></textarea>
                </mat-form-field>
            </div>
        </div>
      </form>
<!-- </div> -->
<div mat-dialog-actions align="end" >
    <button id="save" mat-raised-button color="primary" (click)="approveform()">Approve</button>
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</div>