<div class="row">
    <div class="col-md-12">
        <h2>Patient Infrmation</h2>
    </div>
    <div class="col-md-12">
        <h2>Vital Signs</h2>
    </div>
    <div class="col-md-12">
        <h2>Clinical Notes</h2>
    </div>
    <div class="col-md-12">
        <h2>Past Records</h2>
    </div>
    <div class="col-md-12">
        <h2>Clinical Diagnosis</h2>
    </div>
    <div class="col-md-12">
        <h2>Prescriptions</h2>
    </div>
    <div class="col-md-12">
        <h2>Lab Test</h2>
    </div>
    <div class="col-md-12">
        <h2>Diet Plan</h2>
    </div>
    <div class="col-md-12">
        <h2>Referral</h2>
    </div>
    <div class="col-md-12">
        <h2>Re-visit</h2>
    </div>
</div>