<h1 mat-dialog-title>View Assistant/Admin</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
    <form [formGroup]="assistant">
        <div class="row">
            <div class="col-md-12">
                <div align="center">
                    <h4>Assistant/Admin Image</h4>
                </div>
                <div align="center">
                    <img class="images" matPrefix  [src]="Image_Url" width="100px" height="100px"
                        alt="image not found">
                </div>
            </div>

            <fieldset>
                <legend>Personal Info</legend>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Code</mat-label>
                            <input style="color: seagreen;" matInput placeholder="" formControlName="Assi_code" >
                        </mat-form-field>
                    </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>FirstName</mat-label>
                    <input style="color: seagreen;" matInput  placeholder="" formControlName="Assi_FirstName"  >
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>LastName</mat-label>
                    <input style="color: seagreen;" matInput placeholder="" formControlName="Assi_LastName">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>DOB</mat-label>
                    <input style="color: seagreen;" matInput formControlName="Assi_DOB">
                </mat-form-field>
            </div>          
            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label> Gender</mat-label>
                    <input style="color: seagreen;" matInput placeholder="" formControlName="Assi_Gender" >
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Qualification</mat-label>
                    <input style="color: seagreen;"matInput placeholder="" formControlName="Assi_Qua_Id_FK">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Designation</mat-label>
                    <input style="color: seagreen;"matInput placeholder="" formControlName="Assi_Des_Id_FK">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Skill Set</mat-label>
                    <input style="color: seagreen;"matInput placeholder="" formControlName="Assi_Skill_Desc">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Hospital</mat-label>
                    <input style="color: seagreen;"matInput placeholder="" formControlName="Assi_Hos_Id_FK">
                </mat-form-field>
            </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Communication Details</legend>
                <div class="row">
            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Mobile Number</mat-label>
                    <input style="color: seagreen;" matInput placeholder="" formControlName="Assi_MobileNumber">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Alternate Number</mat-label>
                    <input style="color: seagreen;"matInput placeholder="" formControlName="Assi_AlternativeNumber">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Landline Number</mat-label>
                    <input style="color: seagreen;"matInput placeholder="" formControlName="Assi_LandLineNumber">
                </mat-form-field>
            </div>
            <div class="col-md-4 mt-3">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Email Id</mat-label>
                    <input style="color: seagreen;"matInput placeholder="" formControlName="Assi_Email">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Address</mat-label>
                   <textarea style="color: seagreen;"matInput formControlName="Assi_Address"></textarea>
                </mat-form-field>
            </div>
           
            <div class="col-md-4 mt-3">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Country</mat-label>
                    <input style="color: seagreen;"matInput placeholder="" formControlName="Assi_Country_Id_FK" >
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>State</mat-label>
                    <input style="color: seagreen;"matInput placeholder="" formControlName="Assi_ST_Id_FK" >
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>District</mat-label>
                    <input style="color: seagreen;"matInput placeholder="" formControlName="Assi_DI_Id_FK" >
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Taluk</mat-label>
                    <input style="color: seagreen;"matInput formControlName="Taluk_Id_Fk" >
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Village</mat-label>
                    <input style="color: seagreen;"matInput placeholder="" formControlName="Gram_Id_Fk">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Postal Code</mat-label>
                    <input style="color: seagreen;"matInput placeholder="" formControlName="Assi_PostalCode">
                </mat-form-field>
            </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>
<div mat-dialog-actions align="end" >
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</div>