.top{
    margin-top: 8%;
    font-weight: 700;
    color: rgb(87, 84, 84);
}
h3{
    margin-top: -13% !important;
    color:#262B9B;
    font-size: 17px;
    font-weight: 900;
    margin-left: 12%;
}

mat-icon{
    margin-top: -10% !important;
    color: #FF0000;
}

.mat-divider {
    border-top-color: rgb(104, 100, 100);
    margin-top: -4%;
  }

.mat-dialog-container{
    background-color: aquamarine;
}