<body style="background-image: url('../../../assets/images/login_img.jpeg');">
  <div class="row">
    <div class="col-md-9 col-12 d-none d-md-block">
      <div class="login_banner">
      </div>
    </div>
    <div class="col-md-3 col-12" style="min-height: 100vh; background-color: white;">
      <div class="login-form-content">
        <div class="logo-warapper">
          <img src="../../../assets/images/Medetellogo.png">         
          <script src="https://apis.google.com/js/platform.js" async defer></script>
        </div>
        <form [formGroup]="loginform" autocomplete="off">
          <div class="login-wrapper">
            <div class="field-wrapper">
              <mat-form-field class="example-full-width" appearance="legacy">
                <mat-label>Username</mat-label>
                <input matInput type="text" minlength="10" maxlength="10" formControlName="username" required />
                <mat-error *ngIf="checkError('username', 'required')">Username is required</mat-error>
                <mat-error *ngIf="checkError('username','pattern')">Please enter valid 10-digit number</mat-error>
              </mat-form-field>
            </div>
            <div class="field-wrapper">
              <mat-form-field class="example-full-width" appearance="legacy">
                <mat-label>Password</mat-label>
                <input matInput type="password" [type]="phide ? 'password' : 'text'" formControlName="password"  required />
                <mat-icon matSuffix (click)="phide = !phide">{{phide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="checkError('password', 'required')">Password is required</mat-error>
                <mat-error *ngIf="checkError('password', 'minlength')">Password should be minimum 6 characters</mat-error>
              </mat-form-field>
            </div>
            <div class="form-check form-check-flat form-check-primary">
                <mat-checkbox> Remember me</mat-checkbox>
            </div>
            <div class="field-wrapper text-center">
              <button mat-raised-button color="primary" [disabled]="loginform.invalid" (click)="onSubmit()"
               style="width: 100%;" >Login</button>
              <a mat-raised-button color="warn" style="width: 100%;" class="mt-2" href="https://online.medgramaone.com">Back to
                home page</a>
            </div>
            <div class="field-wrapper link-holder">            
              <span class="clearfix"></span>
              <span class="clearfix"></span>
            </div>           
          </div>
        </form>
      </div>
    </div>
  </div>  
</body>