.navbar {
    background-color: #62cdf7 !important;}

.not{
    text-align: center;
    vertical-align: middle;
    margin-top: -1% !important;
    size: 35px !important;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 29px;
    color: black;
}

.notes{
    margin-top: 10% !important;
}

.dropdown{
    margin-right: 30px !important;
}
.top {
    margin-top: 1.5%;
    margin-right: 50%;
    font-size: 20px;
    float: left;
  }