<div class="col-12">
    <div>
      <div class="card text-center p-3 mt-3" *ngIf="spo2SaturationPercentage">
        <label class="gulcoseLabel">SPO2 Saturation Percentage : {{spo2SaturationPercentage}} %</label>
      </div>
      <div class="card text-center p-3 mt-3" *ngIf="spo2PulseRate">
        <label class="gulcoseLabel">Pulse Rate : {{spo2PulseRate}} bpm</label>
      </div>
      <div>
        <google-chart #chart [title]="'Pulse Oxymeter'" [type]="pulseType" [options]="pulseoptions"
          [data]="pulseOxyMeterData">
        </google-chart>
      </div>
    </div>
</div>