<mat-card-title>Edit Diagnostic</mat-card-title>
<mat-divider></mat-divider>
<form [formGroup]="diagnostic">
    <div class="row">
        <!-- <div class="col-md-12">
                    <div align="center">
                        <h4>Diagnostic Logo</h4>
                    </div>
                    <div align="center">
                        <img class="images" [hidden]="imgs" matPrefix  [src]="Image_Url.url" width="100px" height="100px"
                            alt="image not found">
                        <input class="file" type="file" formControlName="dgstC_Logo"  (change)="onSelectFile($event)">
                    </div>
                </div> -->
        <fieldset>
            <legend>Personal Info</legend>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>Code</mat-label>
                        <!-- <input matInput placeholder="" formControlName="dgstC_Code"> -->
                        <input matInput #input maxlength="5" placeholder="Eg.Hos01" formControlName="dgstC_Code"
                            required>
                        <mat-error *ngIf="diagnostic.get('dgstC_Code').hasError('required')">diagnostic Code is
                            required</mat-error>
                        <mat-error
                            *ngIf="diagnostic.get('dgstC_Code').hasError('invalidName') || diagnostic.get('dgstC_Code').hasError('pattern') ">
                            Please enter alpha numerical characters only minimum:1/Maximum:5
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>Registration Number</mat-label>
                        <input matInput #input maxlength="10" placeholder="Eg.ABC00101" formControlName="regNo"
                            required>
                        <mat-error *ngIf="diagnostic.get('regNo').hasError('required')">Registration Number is
                            required</mat-error>
                        <mat-error
                            *ngIf="diagnostic.get('regNo').hasError('invalidName') || diagnostic.get('regNo').hasError('pattern') ">
                            Please enter alpha numerical characters only
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="" formControlName="dgstC_Name" required>
                        <mat-error *ngIf="diagnostic.get('dgstC_Name').hasError('required')">Name is
                            required</mat-error>
                        <mat-error
                            *ngIf="diagnostic.get('dgstC_Name').hasError('invalidName') || diagnostic.get('dgstC_Name').hasError('pattern')">
                            Please enter alphabet and space is not allowed in starting and ending
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- <div class="col-md-4">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>Diagnostic Catagory</mat-label>
                        <mat-select formControlName="Hos_cat_Id">
                            <mat-option *ngFor="let c of catagory" [value]="c.id">{{c.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
                <div class="col-md-4">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>Type</mat-label>
                        <mat-select formControlName="dgstC_Type_Id" required>
                            <mat-option *ngFor="let t of diagnostictypedd" [value]="t.id">{{t.type}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="diagnostic.get('dgstC_Type_Id').hasError('required')">Type is
                            required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>Primary/Branch</mat-label>
                        <mat-select formControlName="primaryOrBranch" #pbvalue
                            (selectionChange)="dgstC_p_b(pbvalue.value)" required>
                            <mat-option value="Primary">Primary</mat-option>
                            <mat-option value="Branch">Branch</mat-option>
                        </mat-select>
                        <mat-error *ngIf="diagnostic.get('primaryOrBranch').hasError('required')">Primary/Branch is
                            required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4" [hidden]="branch_hid">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>Branch</mat-label>
                        <mat-select formControlName="dgstC_Branch" required>
                            <mat-option *ngFor="let b of branch" [value]="b.dgstC_Id">{{b.dgstC_Name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="diagnostic.get('dgstC_Branch').hasError('required')">Branch is
                            required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4" [hidden]="network_hid">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>Network</mat-label>
                        <mat-select formControlName="dgstC_NE_Id" required>
                            <mat-option *ngFor="let n of networkdd" [value]="n.nE_Id">{{n.nE_Description}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="diagnostic.get('dgstC_NE_Id').hasError('required')">Network is
                            required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>GST</mat-label>
                        <input matInput #input minlength="15" maxlength="15" placeholder="Eg.22AAAAA0000A1s3"
                            formControlName="GsTno" required>
                        <mat-error
                            *ngIf="diagnostic.get('GsTno').hasError('invalidName') || diagnostic.get('GsTno').hasError('pattern') ">
                            Please enter valid 15 digits alphanumeric GST No
                        </mat-error>
                        <mat-error *ngIf="diagnostic.get('GsTno').hasError('required')">GST is required</mat-error>
                        <mat-error *ngIf="diagnostic.get('GsTno').hasError('minlength')">
                            Please enter a minimum of 15 digits
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>PAN No</mat-label>
                        <input matInput #input minlength="10" maxlength="10" placeholder="Eg.AAAAA1234A"
                            formControlName="PaNno" required>
                        <mat-error *ngIf="diagnostic.get('PaNno').hasError('required')">PAN No is required</mat-error>
                        <mat-error
                            *ngIf="diagnostic.get('PaNno').hasError('invalidName') || diagnostic.get('PaNno').hasError('pattern') ">
                            please enter alphanumarical characters and maximum 10 characters only
                        </mat-error>
                        <mat-error *ngIf="diagnostic.get('PaNno').hasError('minlength')">
                            Please enter a minimum of 10 digits
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-5">
                    <!-- <mat-form-field class="example-full-width" appearance="legacy"> -->
                    <!-- <mat-label>upload photo</mat-label> -->
                    <!-- <mat-select formControlName="uploadphoto" required>
                          
                        </mat-select> -->
                    <mat-label>Upload Logo</mat-label>
                    <div class="d-flex">

                        <input type="file" formControlName="DGSTC_Logo" accept="image/*"
                            (change)="onSelectPhoto($event)">
                        <img class="images" matPrefix [src]="Image_Url" width="100px" height="100px"
                            alt="image not found">
                    </div>


                    <!-- </mat-form-field> -->
                </div>
                <div class="col-md-7">

                    <mat-label>Upload Mou Document</mat-label>
                    <div>
                        <span> <a id="viewDocUrl" href="{{MOU_Url}}" target="_blank">View</a></span>
                        <br>
                        <img class="uploaddoc">
                        <input type="file" formControlName="MouDocument" accept=".pdf" (change)="onselectfiles($event)">
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Communication Details</legend>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>Mobile Number</mat-label>
                        <!-- <input matInput placeholder="" formControlName="dgstC_MobileNumber"> -->
                        <input matInput #input minlength="10" maxlength="10" placeholder="Eg.9000000001"
                            formControlName="dgstC_MobileNumber">
                        <mat-error *ngIf="diagnostic.get('dgstC_MobileNumber').hasError('required')">Mobile number is
                            required</mat-error>
                        <mat-error
                            *ngIf="diagnostic.controls['dgstC_MobileNumber'].hasError('invalidName') || diagnostic.controls['dgstC_MobileNumber'].hasError('pattern') ">
                            Please enter valid 10 digit mobile number
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>Alternate Number</mat-label>
                        <input matInput #input minlength="10" maxlength="10" placeholder="Eg.9000000001"
                            formControlName="dgstC_AlterNumber">
                        <mat-error
                            *ngIf="diagnostic.controls['dgstC_AlterNumber'].hasError('invalidName') || diagnostic.controls['dgstC_AlterNumber'].hasError('pattern') ">
                            Please enter valid 10 digit Alternate number
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>Landline Number</mat-label>
                        <input matInput #input minlength="5" maxlength="11" placeholder="Eg.080-30000000"
                            formControlName="dgstC_LandLineNo">
                        <mat-error
                            *ngIf="diagnostic.controls['dgstC_LandLineNo'].hasError('invalidName') || diagnostic.controls['dgstC_LandLineNo'].hasError('pattern') ">
                            Please enter valid 11 digit Landline number
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>Email Id</mat-label>
                        <!-- <input matInput placeholder="" formControlName="dgstC_Email"> -->
                        <input matInput placeholder="" formControlName="dgstC_Email" required>
                        <mat-error *ngIf="diagnostic.get('dgstC_Email').hasError('required')">Email is required</mat-error>
                        <mat-error
                            *ngIf="diagnostic.get('dgstC_Email').hasError && !diagnostic.get('dgstC_Email').hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>
                </div>


                <div class="col-md-4">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>Address</mat-label>
                        <textarea matInput placeholder="" formControlName="dgstC_Address" required></textarea>
                        <mat-error *ngIf="diagnostic.get('dgstC_Address').hasError('required')">Address is
                            required</mat-error>
                        <!-- <input matInput placeholder="" formControlName="hos_HospitalAddress"> -->
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>Country</mat-label>
                        <mat-select formControlName="dgstC_COUN_Id_FK" #choosedValue
                            (valueChange)="countrychange(choosedValue.value)" required>
                            <mat-option *ngFor="let c of country" [value]="c.cntry_id">{{c.country_name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="diagnostic.get('dgstC_COUN_Id_FK').hasError('required')">Country is
                            required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>State</mat-label>
                        <mat-select formControlName="dgstC_ST_Id_FK" #selectval
                            (valueChange)="statechange(selectval.value)" required>
                            <mat-option *ngFor="let s of state" [value]="s.stat_id">{{s.state_name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="diagnostic.get('dgstC_ST_Id_FK').hasError('required')">State is
                            required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>District</mat-label>
                        <mat-select formControlName="dgstC_DI_Id_FK" #districtval
                            (valueChange)="distritchange(districtval.value)" required>
                            <mat-option *ngFor="let d of district" [value]="d.district_id">{{d.district_name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="diagnostic.get('dgstC_DI_Id_FK').hasError('required')">District is
                            required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>Taluk</mat-label>
                        <mat-select formControlName="dgstC_TL_Id_FK" #talukval required>
                            <mat-option *ngFor="let t of taluk" [value]="t.taluk_id">{{t.taluk_name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="diagnostic.get('dgstC_TL_Id_FK').hasError('required')">Taluk is
                            required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>Village</mat-label>
                        <input matInput #input maxlength="20" placeholder="" formControlName="dgstC_Village" required>
                        <mat-error *ngIf="diagnostic.get('dgstC_Village').hasError('required')"> Village is
                            required</mat-error>
                        <mat-error
                            *ngIf="diagnostic.get('dgstC_Village').hasError('invalidName') || diagnostic.get('dgstC_Village').hasError('pattern') ">
                            Please enter alphabet and space is not allowed in starting and ending
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>Postal Code</mat-label>
                        <!-- <input matInput placeholder="" formControlName="dgstC_PostalCode"> -->
                        <input matInput #input minlength="6" maxlength="6" placeholder="Eg.500000"
                            formControlName="dgstC_PostalCode" required>
                        <mat-error *ngIf="diagnostic.get('dgstC_PostalCode').hasError('required')">Postal code is
                            required</mat-error>
                        <mat-error
                            *ngIf="diagnostic.get('dgstC_PostalCode').hasError && !diagnostic.get('dgstC_PostalCode').hasError('required')">
                            Postal code contain 6 digits
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>Website URL </mat-label>
                        <input matInput placeholder="" formControlName="dgstC_web_url" maxlength="30">
                        <mat-error *ngIf="diagnostic.controls['dgstC_web_url'].hasError('pattern')">
                            Please enter valid url
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </fieldset>
    </div>
</form>
<div mat-dialog-actions align="end">
    <button id="save" mat-raised-button color="primary" [disabled]="diagnostic.invalid"
        (click)="updateform()">Update</button>
    <button mat-dialog-close id="cancel" mat-raised-button color="warn">Close</button>
</div>