<p>how-to-pay-con-eng works!</p>
<div class="container">
    <h2 class="text-center">
        _How_to_pay_for_consultations_English</h2>
    <button style="margin-left: 90%;border: none;background-color: #f9fafb;color:red;font-size: 23px;"
        (click)="back()">X</button>
    <div class="video-content text-center mt-2 ml-5">
        <video controls controlsList="nodownload" width="900" height="500">
            <source
                src="../../../../../assets/videos/Medical_assistant_english/M - How to pay for consultations - English.mov">
        </video>
        <!-- <iframe src="../../../../../assets/videos/Medical_assistant_kannada/M_How_to_view_labtest, prescription_and_dietplan_Kannada.mp4" autoplay
            muted allowfullscreen="" webkitallowfullscreen="true" mozallowfullscreen="true" oallowfullscreen="true"
            msallowfullscreen="true" width="900" height="500" allowfullscreen></iframe> -->
    </div>
</div>

