<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Checkout form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
   <!-- <script src="https://checkout.razorpay.com/v1/checkout.js"></script> -->
 </head>
<body> 
      <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #EBF0F5; margin:0 auto;">
        <i class="checkmark">✓</i>
      </div>
      <br>
        <!-- <h1>Payment Successfull</h1><br> 
        <p>Your Transaction reference is<br/> xxxxxxxx0034</p> -->
      </div> 
  <!-- <button id="ccavenue-button" mat-raised-button color="primary" (click)="payWithCCAvenue();">Pay</button> -->
</body>
</html>  