<mat-card>
    <mat-card-title>Add State</mat-card-title>
    <mat-divider></mat-divider>
        <form [formGroup]="state">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field [hideRequiredMarker]="true" class="example-full-width" appearance="legacy">
                        <mat-label class="star">Country Name</mat-label>
                        <mat-select placeholder="Eg.India" formControlName="cntry_id" required>
                            <mat-option *ngFor="let c of country" [value]="c.cntry_id">{{c.country_name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="checkError('cntry_id', 'required')">Country Name is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field [hideRequiredMarker]="true" class="example-full-width" appearance="legacy">
                        <mat-label class="star">State Code</mat-label>                        
                        <input matInput #input  maxlength="10" placeholder="Eg.STE00001" formControlName="state_code" required>
                        <mat-error *ngIf="checkError('state_code', 'required')">State Code is required</mat-error>
                        <mat-error *ngIf="state.controls['state_code'].hasError('alphaNumCheck') || state.controls['state_code'].hasError('pattern') ">
                            State Code must start with "STA" followed by numeric characters
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field [hideRequiredMarker]="true" class="example-full-width" appearance="legacy">
                        <mat-label class="star">State Name</mat-label>
                        <input matInput maxlength="45" placeholder="Eg.Karnataka" formControlName="state_name" required>
                        <mat-error *ngIf="checkError('state_name', 'required')">State Name is required</mat-error>
                        <mat-error *ngIf="state.get('state_name').hasError('alphaCheck')">
                            Please enter alphabet characters
                        </mat-error>
                        <mat-error *ngIf="state.get('state_name').hasError('spaceCheck')">
                            State Name will not allow white space
                        </mat-error>                       
                    </mat-form-field>
                </div>
            </div>
            <br>
            <div class="footer_button">
                <button id="save" mat-raised-button color="primary" (click)="save()">Save</button>
                <!-- <button id="cancel" mat-raised-button color="accent" (click)="reset()">Clear</button> -->
                <button routerLink="/base/master/state" id="cancel" mat-raised-button color="warn">Close</button>
            </div>
        </form>
</mat-card>