<mat-card>
    <mat-card-title>Add Taluk</mat-card-title>
    <mat-divider></mat-divider>
        <form [formGroup]="taluk">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field [hideRequiredMarker]="true" class="example-full-width" appearance="legacy">
                        <mat-label class="star">Country</mat-label>
                        <mat-select formControlName="cntry_id" #choosedValue (valueChange)="countrychange(choosedValue.value)" required>
                            <mat-option *ngFor="let c of country" [value]="c.cntry_id">{{c.country_name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="checkError('cntry_id', 'required')">Country Name is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field [hideRequiredMarker]="true" class="example-full-width" appearance="legacy">
                        <mat-label class="star">State</mat-label>
                        <mat-select formControlName="state_id" #selectval (valueChange)="statechange(selectval.value)"required>
                            <mat-option *ngFor="let s of state" [value]="s.stat_id">{{s.state_name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="checkError('state_id', 'required')">State Name is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field [hideRequiredMarker]="true" class="example-full-width" appearance="legacy">
                        <mat-label class="star">District</mat-label>
                        <mat-select formControlName="district_id" required>
                            <mat-option *ngFor="let d of district" [value]="d.district_id">{{d.district_name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="checkError('district_id', 'required')">District Name is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field [hideRequiredMarker]="true" class="example-full-width" appearance="legacy">
                        <mat-label class="star">Taluk Code</mat-label>                       
                        <input matInput #input maxlength="10" placeholder="Eg.TAL00001" formControlName="taluk_code" required>
                        <mat-error *ngIf="checkError('taluk_code', 'required')">Taluk Code is required</mat-error>
                        <mat-error *ngIf="taluk.controls['taluk_code'].hasError('alphaNumCheck') || taluk.controls['taluk_code'].hasError('pattern') ">
                            Taluk Code must start with "TAL" followed by numeric characters
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field [hideRequiredMarker]="true" class="example-full-width" appearance="legacy">
                        <mat-label class="star">Taluk Name</mat-label>
                        <input matInput placeholder="Eg.Jamkhandi" maxlength="95" formControlName="taluk_name" required>
                        <mat-error *ngIf="checkError('taluk_name', 'required')">Taluk Name is required</mat-error>
                        <mat-error *ngIf="taluk.get('taluk_name').hasError('alphaCheck')">
                            Please enter alphabet characters
                        </mat-error>
                        <mat-error *ngIf="taluk.get('taluk_name').hasError('spaceCheck')">
                            Taluk Name will not allow white space
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="footer_button">
                <button id="save" mat-raised-button color="primary" (click)="save()">Save</button>
                <!-- <button id="cancel" mat-raised-button color="accent" (click)="reset()">Clear</button> -->
                <button routerLink="/base/master/taluk" id="cancel" mat-raised-button color="warn">Close</button>
            </div>
        </form>
</mat-card>