:host {
    background-image: url(../../../../../assets/images/login_img.jpeg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .example-full-width{
    width: 100%;
  }
 