<h1 mat-dialog-title>View Department</h1>
<mat-divider></mat-divider>
<!-- <div mat-dialog-content> -->
    <form [formGroup]="discipline">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Department</mat-label>
                    <input style="color: seagreen;" matInput formControlName="cD_ClinicalDiscipline"  >
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Department Code</mat-label>
                    <input style="color: seagreen;" formControlName="cD_Code" matInput >
                </mat-form-field>
            </div>
        </div>
      </form>
<!-- </div> -->
<div mat-dialog-actions align="end" >
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</div>