.rec{
    background-color: rgb(171, 236, 236);
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

input[type=file]::file-selector-button {
    border: 1px solid #246ddb;
    padding: .9em .9em;
    border-radius: .1em;
    background-color: #6294df;
    transition: 1s;
    margin-top: -1.9%;
    margin-left:-3.9%;
    color: white;
  }
  
  input[type=file]::file-selector-button:hover {
    background-color: rgb(171, 236, 236);
    border: 2px solid #00cec9;
    color: black;
  }
  
  .form-control{
    height: 44.6px;
    border-radius: .5em;
    border: 2px solid #246ddb;
    width: 45%;
    margin-bottom: 1%;
  }
  
  .content{
   height: 90px;
   border: 1px solid #456fad;
  } 
  
  button{
    margin-top: 2%;
    float: right;
    margin-right: 4%;
  }

  #forms_center {
    position: absolute;
    left: 20%;
    right: 20%;
    box-sizing: border-box;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  //
  
  
  .mat-dialog-title {
    color: #0e265f;
  }
  
  .mes {
    width: 40px;
  }
  
  .mes:hover {
    border: 1px solid gray;
    box-shadow: 5px 2px gray;
  }
  
  fieldset {
    // background-color: rgb(202, 229, 236)!important;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid black;
    width: 100%;
  }
  
  legend {
    background-color: white;
    width: auto;
  }