<mat-card>
    <mat-card-title>Country Details</mat-card-title>
    <mat-card-content>
        <div class="button_add">
            <div class="row">
                <div class="col-md-12">
                    <button id="add" mat-raised-button color="primary" [hidden]="addhid" routerLink="/base/master/country/add-country">
                        <mat-icon>add</mat-icon>Add Country
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive" *ngIf="data?.length > 0">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-striped table-bordered" cellspacing="0">
                    <thead class="thead-dark">
                        <tr align="center">
                            <th>SL.NO.</th>
                            <th>Country code</th>
                            <th>Country Name</th>                          
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- *ngFor="let d of Data;let i=index" -->
                        <tr align="center" *ngFor="let d of data;let i=index"
                        [ngClass]="{'warn': (d.delete_flag==0  && (d.status==1 ||d.status==2 || d.status==3))? false:true,'all':d.status==2 || d.status==3 || d.status==1}">
                            <td> {{i+1}} </td>
                            <td>{{d.country_code}}</td>
                            <td> {{d.country_name}} </td>                          
                            <td>
                                
                                <button id="view"  [hidden]="viewhid" (click)="view(d)" 
                                 mat-icon-button color="primary" matTooltip="View"
                                    [matTooltipPosition]="TooltipPosition" matTooltipClass="tooltip-blue"
                                    aria-label="Button that displays a tooltip in various positions">
                                    <mat-icon id="vis">visibility</mat-icon>
                                </button>
                                <button id="edit" [hidden]="edithid" (click)="edit(d)"
                                [disabled]="(d.delete_flag == 0 && d.status==1 && d.status==2 || d.status==3 || d.status==6)? true:false"mat-icon-button
                                    color="accent" matTooltip="edit" [matTooltipPosition]="TooltipPosition"
                                    matTooltipClass="tooltip-yellow"
                                    aria-label="Button that displays a tooltip in various positions">
                                    <mat-icon id="vis">edit</mat-icon>
                                </button>
                                <button id="approvel" [hidden]="approveid" (click)="approve(d)" mat-icon-button color="primary" 
                                [disabled]="(d.status==3 || d.status==6)? true:false" matTooltip="Approve"
                                    [matTooltipPosition]="TooltipPosition" matTooltipClass="tooltip-blue"
                                    aria-label="Button that displays a tooltip in various positions">
                                    <mat-icon id="vis">check_circle_outline</mat-icon>
                                </button>
                                <button id="delete" [hidden]="deletehid" (click)="delete(d)"
                                [disabled]="(d.delete_flag == 0 && d.status==1 && d.status==2 || d.status==3 || d.status==6)? true:false" mat-icon-button
                                    color="warn" matTooltip="delete" [matTooltipPosition]="TooltipPosition"
                                    matTooltipClass="tooltip-red"
                                    aria-label="Button that displays a tooltip in various positions">
                                    <mat-icon id="vis">delete_outline</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </mat-card-content>
</mat-card>