.example-container {
    width: 1108px;
    height: 535px;
    //border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #fff;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
    width: 95%;
  }

  .sidenav{
      margin-left: 50%;
      height: 570px;
      width: 60px;
      background-color: red;
  }

  .example-sidenav-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2% !important;
    color: black;
}

