<div class="container">
    <h2 class="text-center">How to fix an appointment</h2>
    <button style="margin-left: 90%;border: none;background-color: #f9fafb;color:red;font-size: 23px;"
        (click)="back()">X</button>
    <div class="video-content text-center mt-2 ml-5">
        <video controls controlsList="nodownload" width="900" height="500">
            <source src="../../../../../assets/videos/Medical_assistant_english/M_How_to_fix_appointments.mp4">
        </video>
        <!-- <iframe src="https://telemedpatapp.esdinfra.com/test/medical_assistants/M_How_to_fix_appointments.mp4" autoplay
            muted allowfullscreen="" webkitallowfullscreen="true" mozallowfullscreen="true" oallowfullscreen="true"
            msallowfullscreen="true" width="900" height="500" allowfullscreen></iframe> -->
    </div>
</div>