
.example-full-width {
    width: 38%;
      justify-content: center;
       justify-items: center;
       margin-left:30%;
  }
  .user{
      margin-left: 40%;
  }
  #butt {
   margin-left: 30%;
  }
   .footer_button{
       justify-content: center;
       justify-items: center;
       text-align: center !important;
    }
    #save,#cancel{
        margin-left: 20px;
    }
  