<mat-card>
    <mat-card-title>Add Assistant/Admin</mat-card-title>
    <mat-divider></mat-divider>
    <form [formGroup]="assistant">
        <div class="row">
            <div class="col-md-12">
                <div align="center">
                    <mat-label>Upload Image</mat-label>
                    <br>
                    <br>
                    <img class="images" matPrefix [src]="Image_Url" width="100px" height="100px" alt="image not found">
                    <input type="file" formControlName="Assi_Photo" (change)="onSelectFile($event)">
                </div>
            </div>

            <fieldset>
                <legend>Personal Info</legend>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Code</mat-label>
                            <input matInput #input maxlength="10" placeholder="Eg.Ast01" formControlName="Assi_code"
                                required>
                            <mat-error *ngIf="assistant.get('Assi_code').hasError('required')">Code is
                                required</mat-error>
                            <mat-error
                                *ngIf="assistant.controls['Assi_code'].hasError('invalidName') || assistant.controls['Assi_code'].hasError('pattern') ">
                                Please enter Alpha Numerical characters only
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="" maxlength="45" formControlName="Assi_FirstName" required>
                            <mat-error *ngIf="assistant.get('Assi_FirstName').hasError('required')">First Name is
                                required</mat-error>
                            <!-- <mat-error *ngIf="assistant.get('Assi_FirstName').hasError('invalidName') || assistant.get('Assi_FirstName').hasError('pattern') ">
                            Please enter alphabet and space is not allowed in starting and ending
                        </mat-error> -->
                            <mat-error *ngIf="assistant.get('Assi_FirstName').hasError('alphaCheck')">
                                Please enter alphabet characters
                            </mat-error>
                            <mat-error *ngIf="assistant.get('Assi_FirstName').hasError('spaceCheck')">
                                First Name will not allow white space
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="" maxlength="45" formControlName="Assi_LastName" required>
                            <mat-error *ngIf="assistant.get('Assi_LastName').hasError('required')">Last Name is
                                required</mat-error>
                            <!-- <mat-error *ngIf="assistant.controls['Assi_LastName'].hasError('invalidName') || assistant.controls['Assi_LastName'].hasError('pattern') ">
                            Please enter alphabet and space is not allowed in starting and ending
                        </mat-error> -->
                            <mat-error *ngIf="assistant.get('Assi_LastName').hasError('alphaCheck')">
                                Please enter alphabet characters
                            </mat-error>
                            <mat-error *ngIf="assistant.get('Assi_LastName').hasError('spaceCheck')">
                                Last Name will not allow white space
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>DOB</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="Assi_DOB"
                                max="{{maxDate | date:'yyyy-MM-dd'}}" readonly required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="assistant.get('Assi_DOB').hasError('required')">DOB is
                                required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label> Gender</mat-label>
                            <mat-select formControlName="Assi_Gender" required>
                                <mat-option *ngFor="let g of gender" [value]="g.text">{{g.text}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="assistant.get('Assi_Gender').hasError('required')">Gender is
                                required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Qualification</mat-label>
                            <mat-select formControlName="Assi_Qua_Id_FK" required>
                                <!-- #qualivalue (valueChange)="qualificationchange($event)" -->
                                <mat-option *ngFor="let q of qualificationdd"
                                    [value]="q.qualification_id">{{q.qualification_Name}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="assistant.get('Assi_Qua_Id_FK').hasError('required')">Qualification is
                                required</mat-error>
                        </mat-form-field>
                    </div>
                    <!-- <div class="col-md-4">
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Skill Set</mat-label>
                            <mat-select formControlName="Assi_skill_id" required>
                                <mat-option *ngFor="let s of skill"
                                    [value]="s.skillset_id">{{s.skillset_name}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="assistant.get('Assi_skill_id').hasError('required')">Skill Set is
                                required</mat-error>
                        </mat-form-field>
                    </div> -->
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Skill Set</mat-label>
                            <input matInput placeholder="" maxlength="45" formControlName="Assi_Skill_Desc" required>
                            <mat-error *ngIf="assistant.get('Assi_Skill_Desc').hasError('required')">Skill Set is
                                required</mat-error>
                            <mat-error *ngIf="assistant.get('Assi_Skill_Desc').hasError('alphaCheck')">
                                Please enter alphabet characters
                            </mat-error>
                            <mat-error *ngIf="assistant.get('Assi_Skill_Desc').hasError('spaceCheck')">
                                First Name will not allow white space
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Designation</mat-label>
                            <mat-select formControlName="Assi_Des_Id_FK" required>
                                <mat-option *ngFor="let d of designationdd"
                                    [value]="d.designation_id">{{d.designation_desc}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="assistant.get('Assi_Des_Id_FK').hasError('required')">Designation is
                                required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-md-4">
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Hospital</mat-label>
                            <mat-select formControlName="Assi_Hos_Id_FK" required>
                                <mat-option *ngFor="let h of hospitaldd"
                                    [value]="h.hos_Id">{{h.hos_HospitalName}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="assistant.get('Assi_Hos_Id_FK').hasError('required')">Hospital is
                                required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Communication Details</legend>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Mobile Number</mat-label>
                            <input matInput #input minlength="10" maxlength="10" placeholder="Eg.9000000001"
                                formControlName="Assi_MobileNumber" required>
                            <mat-error *ngIf="assistant.get('Assi_MobileNumber').hasError('required')"> Mobile Number is
                                required</mat-error>
                            <mat-error
                                *ngIf="assistant.controls['Assi_MobileNumber'].hasError('invalidName') || assistant.controls['Assi_MobileNumber'].hasError('pattern') ">
                                Please enter valid 10 digit mobile number
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Alternate Number</mat-label>
                            <input matInput #input maxlength="10" placeholder="Eg.9000000001"
                                formControlName="Assi_AlternativeNumber">
                            <mat-error
                                *ngIf="assistant.controls['Assi_AlternativeNumber'].hasError('invalidName') || assistant.controls['Assi_AlternativeNumber'].hasError('pattern') ">
                                Please enter valid 10 digit Alternate number
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Landline Number</mat-label>
                            <input matInput #input maxlength="11" placeholder="Eg.080-30000000"
                                formControlName="Assi_LandLineNumber">
                            <mat-error
                                *ngIf="assistant.controls['Assi_LandLineNumber'].hasError('invalidName') || assistant.controls['Assi_LandLineNumber'].hasError('pattern') ">
                                Please enter valid 11 digit Landline number
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 mt-3">
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Email Id</mat-label>
                            <input matInput placeholder="Eg.abc@gmail.com" formControlName="Assi_Email" required>
                            <mat-error *ngIf="assistant.get('Assi_Email').hasError('required')">Email is
                                required</mat-error>
                            <mat-error
                                *ngIf="assistant.controls['Assi_Email'].hasError('email') || assistant.controls['Assi_Email'].hasError('pattern') ">
                                Please enter a valid email address
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Address</mat-label>
                            <textarea matInput formControlName="Assi_Address" required></textarea>
                            <mat-error *ngIf="assistant.get('Assi_Address').hasError('required')">Address is
                                required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 mt-3">
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Country</mat-label>
                            <mat-select formControlName="Assi_Country_Id_FK" #choosedValue
                                (valueChange)="countrychange(choosedValue.value)" required>
                                <mat-option *ngFor="let c of country" [value]="c.cntry_id">{{c.country_name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="assistant.get('Assi_Country_Id_FK').hasError('required')"> country is
                                required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>State</mat-label>
                            <mat-select formControlName="Assi_ST_Id_FK" #selectval
                                (valueChange)="statechange(selectval.value)" required>
                                <mat-option *ngFor="let s of state" [value]="s.stat_id">{{s.state_name}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="assistant.get('Assi_ST_Id_FK').hasError('required')"> State is
                                required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>District</mat-label>
                            <mat-select formControlName="Assi_DI_Id_FK" #districtval
                                (valueChange)="distritchange(districtval.value)" required>
                                <mat-option *ngFor="let d of district" [value]="d.district_id">{{d.district_name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="assistant.get('Assi_DI_Id_FK').hasError('required')"> District is
                                required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Taluk</mat-label>
                            <mat-select formControlName="taluk_Id_Fk" required>
                                <mat-option *ngFor="let t of taluk" [value]="t.taluk_id">{{t.taluk_name}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="assistant.get('taluk_Id_Fk').hasError('required')"> Taluk is
                                required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Village</mat-label>
                            <input matInput #input maxlength="20" placeholder="" formControlName="Assi_Village"
                                #villageval required>
                            <!-- <mat-select formControlName="gram_Id_Fk" #villageval
                        (valueChange)="selectpincode(villageval.value)" required>
                            <mat-option *ngFor="let g of gram" [value]="g.gram_id">{{g.gram_name}}</mat-option>
                        </mat-select> -->
                            <mat-error *ngIf="assistant.get('Assi_Village').hasError('required')"> Village is
                                required</mat-error>
                            <mat-error
                                *ngIf="assistant.get('Assi_Village').hasError('invalidName') || assistant.get('Assi_Village').hasError('pattern') ">
                                Please enter alphabet and space is not allowed in starting and ending
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Postal Code</mat-label>
                            <input matInput #input minlength="6" maxlength="6" placeholder="Eg.500000"
                                formControlName="Assi_PostalCode" required>
                            <mat-error *ngIf="assistant.get('Assi_PostalCode').hasError('required')"> Postal code is
                                required</mat-error>
                            <mat-error
                                *ngIf="assistant.controls['Assi_PostalCode'].hasError('invalidName') || assistant.controls['Assi_PostalCode'].hasError('pattern') ">
                                Please enter valid 6 digit postal code
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="footer_button">
                    <button routerLink="/base/master/assistant" class="cancel" mat-raised-button
                        color="warn">Close</button>
                    <button class="save" [disabled]="assistant.invalid" mat-raised-button color="primary"
                        (click)="save()">Save</button>
                </div>
            </fieldset>
        </div>
    </form>
</mat-card>