<h1 mat-dialog-title>Approve Taluk</h1>
<mat-divider></mat-divider>
<!-- <div mat-dialog-content> -->
    <form [formGroup]="district">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Country Name</mat-label>
                    <input style="color: seagreen;" matInput  formControlName="cntry_name" >
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>State Name</mat-label>
                    <input style="color: seagreen;"  matInput  formControlName="state_name" >
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>District Name</mat-label>
                    <input style="color: seagreen;"  matInput  formControlName="district_name" >
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Taluk Code</mat-label>
                    <input style="color: seagreen;" matInput  formControlName="taluk_code" >
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Taluk Name</mat-label>
                    <input style="color: seagreen;"  matInput  formControlName="taluk_name" >
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Remarks</mat-label>
                    <textarea style="color: seagreen;" maxlength="200"  matInput  formControlName="Remarks" ></textarea>
                </mat-form-field>
            </div>
        </div>
      </form>
<!-- </div> -->
<div mat-dialog-actions align="end" >
    <button id="save" mat-raised-button color="primary"  (click)="approveform()" >Approval</button>
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</div>
