<h1 mat-dialog-title>Edit Diagnosis</h1>
<mat-divider></mat-divider>
<!-- <div mat-dialog-content> -->
<form [formGroup]="diagnosis">
    <div class="row">
        <div class="col-md-6">
            <mat-form-field [hideRequiredMarker]="true" class="example-full-width" appearance="legacy">
                <mat-label>Diagnosis Code</mat-label>
                <!-- <input matInput placeholder="" formControlName="cD_Code" required>
                    <mat-error *ngIf="checkError('cD_Code', 'required')">Discipline Code is required</mat-error> -->
                <input matInput #input maxlength="8" formControlName="dD_Code">
                <!-- <mat-error *ngIf="checkError('cD_Code', 'required')">Discipline Code is required</mat-error>
                    <mat-error *ngIf="specialistdoc.controls['cD_Code'].hasError('invalidName') || specialistdoc.controls['cD_Code'].hasError('pattern') ">
                        Please enter Alpha Numerical characters only minimum:1/Maximum:5
                    </mat-error> -->
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width" appearance="legacy">
                <mat-label>Diagnosis Category</mat-label>
                <mat-select formControlName="dD_Master">
                    <mat-option *ngFor="let d of diagnosisdd" [value]="d.dM_Id">{{d.dM_Name}}</mat-option>
                    <!-- <mat-error *ngIf="checkError('cntry_id', 'required')">Country Name is required</mat-error> -->
                </mat-select>
        
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field [hideRequiredMarker]="true" class="example-full-width" appearance="legacy">
                <mat-label class="star">Diagnosis Description</mat-label>
                <input matInput maxlength="45" formControlName="dD_Desc" required>
                <mat-error *ngIf="checkError('dD_Desc', 'required')">Diagnosis Description is required</mat-error>
                <mat-error *ngIf="diagnosis.get('dD_Desc').hasError('alphaCheck')">
                    Please enter alphabet characters
                </mat-error>
                <mat-error *ngIf="diagnosis.get('dD_Desc').hasError('spaceCheck')">
                    Diagnosis will not allow white space
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</form>
<!-- </div> -->
<br>
<div mat-dialog-actions align="end">
    <button id="save" mat-raised-button color="primary" (click)="updateform()">Update</button>
    <button mat-dialog-close id="cancel" mat-raised-button color="warn">Close</button>
</div>