
<button style="margin-left: 90%;border: none;background-color: #f9fafb;color:red;font-size: 23px;" (click)="back()">X</button>

<div class="container" [hidden]="patient_register">
    <h2 class="text-center">How to register a patient</h2>
    <div class="video-content mt-3 ml-5">
        <iframe  src="https://telemedpatapp.esdinfra.com/test/medical_assistants/M_How_to_register_patient.mp4" autoplay
            muted allowfullscreen="" webkitallowfullscreen="true" mozallowfullscreen="true" oallowfullscreen="true"
            msallowfullscreen="true" width="1060" height="615" allowfullscreen></iframe>
    </div>
</div>

<div class="container" [hidden]="doctor_schedule">
    <h2 class="text-center">How to schedule doctor availability</h2>
    <div class="video-content mt-3 ml-5">
        <iframe src="https://telemedpatapp.esdinfra.com/test/doctor_video/D_How_to_schedule_doctor_availability.mp4" autoplay
            muted allowfullscreen="" webkitallowfullscreen="true" mozallowfullscreen="true" oallowfullscreen="true"
            msallowfullscreen="true" width="1060" height="615" allowfullscreen></iframe>
    </div>
</div>

<div class="container" [hidden]="appointment">
    <h2 class="text-center">How to fix an appointment</h2>
    <div class="video-content mt-3 ml-5">
        <iframe src="https://telemedpatapp.esdinfra.com/test/medical_assistants/M_How_to_fix_appointments.mp4" autoplay
            muted allowfullscreen="" webkitallowfullscreen="true" mozallowfullscreen="true" oallowfullscreen="true"
            msallowfullscreen="true" width="1060" height="615" allowfullscreen></iframe>
    </div>
</div>

<div class="container" [hidden]="approve_appointment">
    <h2 class="text-center">How to approve an appointment</h2>
    <div class="video-content mt-3 ml-5">
        <iframe src="https://telemedpatapp.esdinfra.com/test/doctor_video/D_How_to_approve_appointments.mp4" autoplay
            muted allowfullscreen="" webkitallowfullscreen="true" mozallowfullscreen="true" oallowfullscreen="true"
            msallowfullscreen="true" width="1060" height="615" allowfullscreen></iframe>
    </div>
</div>

<div class="container" [hidden]="consult_patient">
    <h2 class="text-center">How to consult a patient</h2>
    <div class="video-content mt-3 ml-5">
        <iframe src="https://telemedpatapp.esdinfra.com/test/doctor_video/D_How_to_consult.mp4" autoplay
            muted allowfullscreen="" webkitallowfullscreen="true" mozallowfullscreen="true" oallowfullscreen="true"
            msallowfullscreen="true" width="1060" height="615" allowfullscreen></iframe>
    </div>
</div>

<div class="container" [hidden]="video_call">
    <h2 class="text-center">How to initiate video call</h2>
    <div class="video-content mt-3 ml-5">
        <iframe src="https://telemedpatapp.esdinfra.com/test/doctor_video/D_How_to_initiate_video_call.mp4" autoplay muted
            allowfullscreen="" webkitallowfullscreen="true" mozallowfullscreen="true" oallowfullscreen="true"
            msallowfullscreen="true" width="1060" height="615" allowfullscreen></iframe>
    </div>
</div>

<div class="container" [hidden]="video_consult">
    <h2 class="text-center">How to join video consultation</h2>
    <div class="video-content mt-3 ml-5">
        <iframe src="https://telemedpatapp.esdinfra.com/test/medical_assistants/M_How_to_join_video_consultation.mp4" autoplay
            muted allowfullscreen="" webkitallowfullscreen="true" mozallowfullscreen="true" oallowfullscreen="true"
            msallowfullscreen="true" width="1060" height="615" allowfullscreen></iframe>
    </div>
</div>
