<mat-card>
    <mat-card-title>Patient Details</mat-card-title>
    <mat-card-content>
        <div class="button_add">
            <div class="row">
                <div class="col-md-10">
                    
                            <p style="margin-left: 70%;font-size: 12px;" [hidden]="addhid">ರೋಗಿಯನ್ನು ಹೇಗೆ ನೋಂದಾಯಿಸುವುದು? <a routerLink="/base/task/v1_kannada">ಕ್ಲಿಕ್ ಮಾಡಿ</a></p>
                            <!-- <p class="mt-1" style="margin-left: 70%;" [hidden]="addhid">How to register patient? <a routerLink="/base/task/v1">click here</a></p> -->
                    <!-- <p class="mt-2" style="margin-left: 80%;" [hidden]="addhid">How to register patient? <a
                            [routerLink]="['/base/task/consultation_demo', 'patient_register']">click
                            here</a></p> -->
                </div>
                <div class="col-md-2">
                    <button id="add" mat-raised-button color="primary" [hidden]="addhid" routerLink="/base/registration/patient/add-patient">
                        <mat-icon>add</mat-icon>Add Patient
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive" *ngIf="data?.length > 0">
                <table [dtOptions]="dtOptions" datatable
                    class="table table-striped table-bordered table-sm row-border hover">
                    <thead class="thead-dark">
                        <tr align="center">
                            <th>SL.NO.</th>
                            <th>ID</th>
                            <th>Name</th>
                            <!-- <th>Patient LastName</th> -->
                            <th>Patient Mobile Number</th>
                            <!-- <th>Patient DOB</th> -->
                            <th>Patient Address</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- *ngFor="let d of Data;let i=index" -->
                        <tr align="center" *ngFor="let d of data;let i=index"
                        [ngClass]="{'warn': (d.delete_flag==0 && d.status==1 && d.status==2)? false:true,'all':d.status==2 || d.status==1}">
                            <td> {{i+1}} </td>
                            <td>{{d.pR_PatientCode}}</td>
                            <td> {{d.pR_FirstName}} {{d.pR_LastName}}</td>
                            <!-- <td>{{d.pR_LastName}}</td> -->
                            <td>{{d.pR_MobileNumber}}</td>
                            <!-- <td> {{d.pR_DOB | date :'dd/MM/YYY'}} </td> -->
                            <td>{{d.pR_Address}}</td>
                            <td>{{d.sts_name}}</td>
                            <td>
                                <button id="view" (click)="view(d)" [hidden]="viewhid" mat-icon-button color="primary" matTooltip="View"
                                
                                    [matTooltipPosition]="TooltipPosition" matTooltipClass="tooltip-blue"
                                    aria-label="Button that displays a tooltip in various positions">
                                    <mat-icon id="vis">visibility</mat-icon>
                                </button>
                                <button id="edit" (click)="edit(d)" [hidden]="edithid"
                                [disabled]="(d.delete_flag == 0 && d.status==1 && d.status==2 || d.status==3 || d.status==6)? true:false"mat-icon-button
                                    color="accent" matTooltip="edit" [matTooltipPosition]="TooltipPosition"
                                    matTooltipClass="tooltip-yellow"
                                    aria-label="Button that displays a tooltip in various positions">
                                    <mat-icon id="vis">edit</mat-icon>
                                </button>
                                <button id="delete" (click)="delete(d)" [hidden]="deletehid"
                                [disabled]="(d.delete_flag == 0 && d.status==1 && d.status==2 || d.status==3 || d.status==6)? true:false" mat-icon-button
                                    color="warn" matTooltip="delete" [matTooltipPosition]="TooltipPosition"
                                    matTooltipClass="tooltip-red"
                                    aria-label="Button that displays a tooltip in various positions">
                                    <mat-icon id="vis">delete_outline</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </mat-card-content>
</mat-card>