.start-btn{
  text-align: center; 
  padding: 5px 18px 5px 18px; 
  
}

.join-btn{
  text-align: center;
  margin-left: 25px;
  padding: 5px 19px 5px 19px;  
}

.butn{
  margin-left: 38%;
  margin-top: 15%;
}